<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sobre</title>

    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/css.css">
</head>
<body>
    <header>

    </header>

    <nav>
            <menu>
                <ul>
                    <!--colocar o caminho das outras páginas-->
                    <li><a href="index.html">Home</a></li>
                    <li><a href="formulario.html">Formulário</a></li>
                    <li><a href="buscaCep.html">Busca Cep</a></li>
                    <li><a href="sobre.html">Sobre</a></li>
                </ul>
            </menu>
        </nav>

    <main>
        <article id="conteudo">
            <section>
                <h1> Sobre </h1>
                <div id="img">
                    <img src="../public/Images/endG.jpg" alt="">
                </div>
                <p>Avengers: Endgame is a 2019 American superhero film based on the Marvel Comics superhero team the
                     Avengers, produced by Marvel Studios and distributed by Walt Disney Studios Motion Pictures. 
                     It is the sequel to 2012's The Avengers, 2015's Avengers: Age of Ultron, and 2018's Avengers: 
                     Infinity War, and is the the 22nd film in the Marvel Cinematic Universe (MCU). It was directed 
                     by Anthony and Joe Russo, written by Christopher Markus and Stephen McFeely and features an 
                     ensemble cast including Robert Downey Jr., Chris Evans, Mark Ruffalo, Chris Hemsworth, 
                     Scarlett Johansson, Jeremy Renner, Don Cheadle, Paul Rudd, Brie Larson, Karen Gillan, 
                     Danai Gurira, Bradley Cooper, and Josh Brolin. In the film, the surviving members of the 
                     Avengers and their allies work together to reverse the damage caused by Thanos in Infinity War.
                </p>
                <p>Lorem ipsum accumsan vulputate magna etiam nulla condimentum adipiscing, 
                    lectus sapien iaculis quisque cras ornare et viverra, vel metus interdum
                    adipiscing ante condimentum leo. et fusce in non in senectus etiam, 
                    quisque conubia litora quis massa cursus, gravida justo nibh conubia vel. 
                    neque aenean integer viverra habitant fermentum ligula sed mollis taciti 
                    facilisis nullam blandit duis in commodo, faucibus pulvinar augue volutpat
                    ringilla sagittis nostra blandit himenaeos augue risus fames ultrices. 
                    rhoncus volutpat etiam eleifend lorem eget sagittis viverra aliquam facilisis
                    erat commodo ultricies, senectus curae sem rutrum pretium ut aptent ac imperdiet 
                    posuere diam, phasellus venenatis sem morbi nunc nulla cursus nullam vitae velit vulputate.
                </p>
            </section>
        </article>
    </main>
</body>
</html>