 <!DOCTYPE html>
 <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Web-Development Infoeste2019</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="../public/css/mainCss.css">
        <!----<script src="main.js"></script>-->
    </head>

    <body>
        
        <header>
            <h1>LOGO</h1>
        </header>

        <nav>
            <menu>
                <ul>

                    <li> <a href=" "></a> Home</li>                        
                    <li> <a href=" "></a>Formulario</li>
                    <li> <a href=" "></a>Buscar CEP</li>
                    <li> <a href=" "></a>Sobre</li>

                </ul>

            </menu>
        </nav>

        <main>

            <article>


            </article>

        </main>

    </body>
 </html>