<section>
    <h1>Sobre</h1>

    <div id="img">
        <img src="..public/Images/ca.png" alt="Imagem padrao pagina sobre">
    </div>

    <p>
        Avengers: Endgame is a 2019 American superhero film based on the Marvel Comics superhero team 
        the Avengers, produced by Marvel Studios and distributed by Walt Disney Studios Motion Pictures. 
        It is the sequel to 2012's The Avengers, 2015's Avengers: Age of Ultron, and 2018's 
        Avengers: Infinity War, and is the the 22nd film in the Marvel Cinematic Universe (MCU). 
        It was directed by Anthony and Joe Russo, written by Christopher Markus and Stephen McFeely and 
        features an ensemble cast including Robert Downey Jr., Chris Evans, Mark Ruffalo, Chris Hemsworth, 
        lett Johansson, Jeremy Renner, Don Cheadle, Paul Rudd, Brie Larson, Karen Gillan, Danai Gurira, 
        Bradley Cooper, and Josh Brolin. In the film, the surviving members of the Avengers and their allies
         work together to reverse the damage caused by Thanos in Infinity War.
    </p>
</section>